.back-red{
background-color: #aa1a1a;
}

.text-white{
    color: #fff;
}
ul{
    li{
        list-style: none;
        div{
            height: 2.1875rem;
           
            div{
                margin: 0px .625rem;
            }
        }
    }
}
.border-black{
    border: 1px solid black;
}
.back-grey{
    background-color: #eaeaea;
}
.w-15{
width: .9375rem;
}

.w-250{
    font-weight: 600;
    width: 250px;
}
.w-200{
    width: 200px;
}
.w-60{
    width: 60px;
}